<% provide(:title, "Contact") %>
<div class="center hero-unit">  

  <h2>    
    <a target="_blank" href="http://railstutorial.org/contact">Contact us</a>
    regarding Microposts Application
  </h2>
  
</div>