<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
	<body>
		<h1><%= yield(:title) %></h1>
		<p>
			This page will be updated with the contents which are related to help contents on this site.
		</p>
	</body>
</html>