<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<body>
		<h1><%= yield(:title) %></h1>
		<p>
			This is a <b><%= yield(:title) %></b> page for Sample Application. Will be updated soon.
		</p>
	</body>
</html>