<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div id="remaining_characters"></div>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new micropost", onkeyup: "update_content_length();" %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end -%>